
body {
    max-width: 600px;
    padding: 0 30px;
}

fieldset {
    margin-bottom: 15px;
    padding: 10px;
}

legend {
    padding: 0 3px;
    font-weight: bold;
}

label {
    display: inline-block;
    margin: 6px;
}

